* {padding:0;margin:0;}
.row {display:flex;flex-direction:row;gap:4px;margin-bottom:4px;}
.form-input {display:flex;flex-direction: column;margin-left:4px;}
.form-input label {color:#6B778C;font-size:12px;line-height:16px;margin-bottom:4px;font-weight:800;}
.form-input input {background-color:#FAFBFC;border:2px solid #DFE1E6;margin:0;padding:0 12px;width:200px;height:48px;box-sizing: border-box;outline: none;border-radius:4px;color:#091E42;}
.form-input input::placeholder {color:#a5aec4;}
.form-button {margin:20px 0 0 4px;}
.form-button .btn-result {padding:0 40px;height:48px;background-color:#0E1E3A;color:#FFF;text-align: center;border-radius:4px;display:flex;justify-content:center;align-items:center;border:none;}

/* .btn {width:48px;height:48px;background-color:#2699FB;color:#FFF;border-radius:4px;display:flex;justify-content:center;align-items:center;border:none;font-size:12px;font-weight:700;}
.btn:active {background-color:#007FEB;}
.btn-lg {width:100px;height:48px;}
.input {margin:0;margin-bottom:4px;padding:0 12px;width:204px;height:48px;box-sizing:border-box;outline:none;}
.input:disabled {background-color:#FFF;border:1px solid #BCE0FD;color:#BCE0FD;font-size:14px;} */